@font-face {
    font-family: 'Roboto Light';
    src: url("../../fonts/Roboto-Light.ttf");
}

.group__avatar img {
    width: 10%;
    height: 15%;
    margin-left: 45%;
    border-radius: 8px;
    margin-top: 5%;
}

.group__avatar p {
    margin-left: 48%;
    font-size: 1.5em;
}

.group__inputs {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-right: 40%;
}

.group__inputs select {
    margin-left: 1%;
}

.group__projects {
    display: flex;
    justify-content: center;
    font-family: "Roboto Light";
}

.group__projects {
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
    display: flex;
    flex-direction: column;
    font-family: "Roboto Light";
}

.group__projects a {
    text-decoration: none;
    color: black;
}

.group__projects img {
    width: 10%;
}

.group__projects div {
    border: 0.5px solid #c5c5c5;
    margin-bottom: 3%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    padding: 3%;
    justify-content: space-around;
}