@font-face {
    font-family: "Roboto Regular";
    src: url("../../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto Light";
    src: url("../../fonts/Roboto-Light.ttf");
}

.main__groups {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 60%;
    margin-left: 20%;
}

.main__groups div {
    font-family: "Roboto Regular";
    border: 0.5px solid black;
    width: 15%;
    margin-top: 5%;
    margin-left: 7%;
    padding-top: 4%;
    padding-right: 3%;
    padding-bottom: 4%;
    padding-left: 1%;
    border-radius: 5px;
}

h3 {
    font-family: "Roboto Light";
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

a {
    font-family: "Roboto Light";
    color: black;
    text-decoration: none;
}

hr {
    width: 30%;
}