@font-face {
    font-family: "Roboto";
    src: url("../../fonts/Roboto-Regular.ttf");
}

.header {
    display: flex;
    justify-content: start;
    padding-top: 1%;
}

.header__h4 {
    font-family: "Roboto";
    font-weight: 100px;
    padding-top: 1em;
}

.header__img {
    border-radius: 50%;
    size: 3%;
    margin-left: 1%;
    margin-right: 1%;
}

button {
    margin-left: 80%;
    height: 10%;
    margin-top: 2%;
}