@font-face {
    font-family: "Roboto Light";
    src: url("../../fonts//Roboto-Light.ttf");
}

.merge__div {
    font-family: "Roboto Light";
    border: 0.5px solid gray;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 4%;
    padding-right: 30%;
    width: 150%;
    margin-top: 3%;
}

.merge__main {
    display: flex;
    flex-direction: row;
}

.merge__list {
    padding-right: 50%;
    margin-top: 1%;
}

.div__title {
    font-family: "Roboto Light";
    color: green;
    font-weight: bolder;
    display: flex;
    width: 200%;
    justify-content: space-evenly;
}