@font-face {
    font-family: "Roboto";
    src: url("../../fonts//Roboto-Regular.ttf");
}

.sidebar__div {
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    width: 100%;
    padding-left: 2%;
}

.sidebar__div a {
    margin-bottom: 5%;
    font-size: 1.5em;
}